		<!--header: banner and theme-->
		<header id="header" class="jumbotron jumbotron-fluid d-flex justify-content-center align-content-center p-0 m-0">

			<!--theme-->
			<div class="container d-flex justify-content-center align-content-center flex-column  p-0 my-auto h-50">
				<h1 class="display-3 text-center text-light title">Restaurant Dionysus</h1>
				<p class=" lead text-center text-light subtitle">The <span class="js-rotating">Fanciest, Most Badassed, Coolest, Most Luxurious</span> Restaurant in the World</p>
			</div>
		</header>