		<!--Footer-->
		<footer id="footer" class="row p-0 m-0">
			<!--Contact Infos-->
			<div id="contact" class="col-12 col-md-6">
				<h3 class="text-center display-4 title text-light m-3">Contact</h3>
				<ul class="d-flex flex-column m-3 p-3">
					<li class="text-center font-weight-bold text-white-50"><p>Address: Lane 56, Huaining St., Zhongzheng Dist., Taipei City, Taiwan (R.O.C.)</p></li>
					<li class="text-center font-weight-bold text-white-50"><p>Tel: 0800-000-000</p></li>
					<li class="text-center font-weight-bold text-white-50"><p>E-mail: front-end-web@gmail.com</p></li>
				</ul>
			</div>
			
			<!--About-->
			<div id="about" class="col-12 col-md-6 ">
				<h3 class="text-center display-4 title text-light m-3">About</h3>
				<p class="text-center text-white-50 font-weight-bold my-auto p-3"><span class="js-rotating">Front-end Developer with Passion, Cool-stuff Lover, Motivated Self-leaner</span>, keep sharpening developing skills.</p>
			</div>
