	<!--Feature-->
			<section id="feature" class="jumbotron jumbotron-fluid m-0 d-flex flex-column page1">

				<div class="container container-fluid"><h2 class="float-right text-dark display-4 mb-5 title">Features</h2></div>

				<div class="container container-fluid">
					<div class="row">
						<div class="col-md-4 caption rounded shadow">
							<img class="rounded-circle m-2 mx-auto d-block img-f" src="https://images.unsplash.com/photo-1519167758481-83f550bb49b3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42b84bddac42421d6cccb79dc11c6d84&auto=format&fit=crop&w=1674&q=80">
							<div class="m-4">
								<h3 class="m-2 text-center font-weight-bold subtitle">Large Space:</h3>
								<p class="m-2 text-center">Enjoy your meal with up to <span class="js-rotating">30, 70, 100, 200 </span> friends </p>
							</div>
						</div>
						<div class="col-md-4 caption rounded shadow">
							<img class="rounded-circle m-2 mx-auto d-block img-f" src="https://images.unsplash.com/photo-1536746125637-3096f1a9ab46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3423f8899226617601a680c72bcc9149&auto=format&fit=crop&w=934&q=80">
							<div class="m-4">
								<h3 class="m-2 text-center font-weight-bold subtitle">Experienced Team</h3>
								<p class="m-2 text-center">Chief and staffs are all from restaurants with Michelin <span class="js-rotating">1-star, 2-star, 3-star</span>.</p>
							</div>
						</div>
						<div class="col-md-4 caption rounded shadow">
							<img class="rounded-circle m-2 mx-auto d-block img-f" src="https://images.unsplash.com/31/RpgvvtYAQeqAIs1knERU_vegetables.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0a4967b661c04044407494faefbc429d&auto=format&fit=crop&w=1654&q=80">
							<div class="m-4">
								<h3 class="m-2 text-center font-weight-bold subtitle">Eco &amp; Bio Friendly</h3>
								<p class="m-2 text-center">Local, handmade and diversified meals</p>
							</div>
						</div>
					</div>

				</div> 
			</section>