<!--Feature-->
			<div id="feature" class="jumbotron jumbotron-fluid m-0 bg-info">

				<div class="container container-fluid"><h2 class="text-center display-4 mb-5 title">Features</h2></div>

				<div class="container container-fluid">
					<div class="row">
						<div class="col-md-4">
							<img class="rounded-circle m-2 mx-auto d-block img-f" src="https://images.unsplash.com/photo-1511344407683-b1172dce025f?ixlib=rb-0.3.5&s=1e97c2da240a7162e4282c657e27973d&auto=format&fit=crop&w=900&q=60">
							<div class="m-4">
								<h3 class="m-2 text-center font-weight-bold subtitle">Large Space:</h3>
								<p class="m-2 text-center">Enjoy your meal with up to 70 friends </p>
							</div>
						</div>
						<div class="col-md-4 ">
							<img class="rounded-circle m-2 mx-auto d-block img-f" src="https://images.unsplash.com/photo-1519974395578-e3e2a6c0313f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b417658054c98f0977d8fd863d24036&auto=format&fit=crop&w=900&q=60">
							<div class="m-4">
								<h3 class="m-2 text-center font-weight-bold subtitle">Experienced Team</h3>
								<p class="m-2 text-center">Chief and staffs are all from restaurants with Michelin 1-star or more. </p>
							</div>
						</div>
						<div class="col-md-4 ">
							<img class="rounded-circle m-2 mx-auto d-block img-f" src="https://images.unsplash.com/photo-1507048331197-7d4ac70811cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc14d05af9963bb8ee521c3c4ea6df55&auto=format&fit=crop&w=900&q=60">
							<div class="m-4">
								<h3 class="m-2 text-center font-weight-bold subtitle">Eco &amp; Bio Friendly</h3>
								<p class="m-2 text-center">Local, handmade and diversified meals</p>
							</div>
						</div>
					</div>

				</div>
			</div>
