			<!--Menu-->
			<section id="menu" class="jumbotron jumbotron-fluid m-0 page2">
				<!--title -->
				<div class="container container-fluid"><h2 class="display-4 text-warning text-center mb-5 title">Menu</h2></div>

				<!--all the slide-->
				<div class="container container-fluid d-flex justify-content-center">
					<!--use carousel to demo menu-->
					<div id="demo" class="carousel slide rounded shadow" data-ride="carousel">
						<!--indicators-->
						<div class="carousel-indicators">
							<li data-target="#demo" data-slide-to="0" class="active"></li>
							<li data-target="#demo" data-slide-to="1"></li>
							<li data-target="#demo" data-slide-to="2"></li>
							<li data-target="#demo" data-slide-to="3"></li>
						</div>

						<!--carousel image part-->
						<div class="carousel-inner">
							<div class="carousel-item active">
							  <img class="rounded w-100 h-auto" src="https://images.unsplash.com/photo-1519984388953-d2406bc725e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=039602cfff963c336390e1042b108fa4&auto=format&fit=crop&w=900&q=60" alt="Noodle" width="900" height="600">
							  <div class="carousel-caption rounded caption p-0 p-sm-2">
								<h3 class="font-weight-bold text-black-50 m-0 m-sm-2">Soba</h3>
								<p class="text-black-50">noodle with Japanese soy-bean sauce and sake!</p>
							  </div>
							</div>
							<div class="carousel-item">
							  <img class="rounded w-100 h-auto"
							  src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efe01df2ebde79714be88d560479c9c7&auto=format&fit=crop&w=900&q=60" alt="pizza" width="900" height="600">
							  <div class="carousel-caption rounded caption p-0 p-sm-2">
								<h3 class="font-weight-bold text-black-50 m-2">Pizza Hot</h3>
								<p class="text-black-50">cheese, tomato, mushroom... what are you waiting for?</p>
							  </div>
							</div>
							<div class="carousel-item">
							  <img class="rounded w-100 h-auto"
							  src="https://images.unsplash.com/photo-1514516345957-556ca7d90a29?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=496353689a7715fe5732bbf48bd21ade&auto=format&fit=crop&w=900&q=60g" alt="salad" width="900" height="600">
							  <div class="carousel-caption rounded caption p-0 p-sm-2">
								<h3 class="font-weight-bold text-black-50 m-2">Salad</h3>
								<p class="text-black-50">satisfy your stomach as well as your tongue</p>
							  </div>
							</div>
							<div class="carousel-item">
							  <img class="rounded w-100 h-auto" src="https://images.unsplash.com/photo-1515669097368-22e68427d265?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f57194b5ae1334f947d180ad08eaedb8&auto=format&fit=crop&w=900&q=60" alt="steak" width="900" height="600">
							  <div class="carousel-caption rounded caption p-0 p-sm-2">
								<h3 class="font-weight-bold text-black-50 m-2">Special Steak</h3>
								<p class="text-black-50">pork, beef, chicken... just follow your desire </p>
							  </div>
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="carousel-control-prev" href="#demo" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#demo" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>
				</div>
			</section>