	<!--navbar-->
		<nav class="navbar navbar-expand-md sticky-top subtitle navbackground">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item align-self-center ml-3">
					<a class="nav-link scrollStart" ><i class="fas fa-utensils text-dark"></i></a>
				</li>
			</ul>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span><i class="fas fa-bars text-dark"></i></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="ml-auto">
						<li class="nav-item">
							<a class="nav-link scrollTo">Feature</a>
						</li>
					</ul>
					<ul class="ml-auto">
						<li class="nav-item">
							<a class="nav-link scrollTo" >Menu</a>
						</li>
					</ul>
					<ul class="ml-auto">
						<li class="nav-item">
							<a class="nav-link scrollTo">Reservation</a>
						</li>
					</ul>
					<ul class="ml-auto">
						<li class="nav-item">
							<a class="nav-link scrollTo">About</a>
						</li>
					</ul>
					<ul class="mr-5 ml-auto">
						<li class="nav-item">
							<a class="nav-link scrollTo">Contact</a>
						</li>
					</ul>
			</div>
		</nav>
