		<!--navbar-->
		<nav class="navbar navbar-expand-md sticky-top bg-dark subtitle">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item align-self-center ml-3">
					<a class="nav-link" href=#header><i class="fas fa-utensils"></i></a>
				</li>
			</ul>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span><i class="fas fa-bars"></i></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#feature">Feature</a>
						</li>
					</ul>
					<ul class="ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#menu">Menu</a>
						</li>
					</ul>
					<ul class="ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#reservation">Reservation</a>
						</li>
					</ul>
					<ul class="ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#footer">About</a>
						</li>
					</ul>
					<ul class="mr-5 ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#footer">Contact</a>
						</li>
					</ul>
			</div>
		</nav>